.git
.github
.cursor
.vscode
.idea
**/__pycache__
**/*.pyc
**/*.pyo
**/.DS_Store
output
docker/output
docker/models
Wan2.2-TI2V-5B
*.mp4
*.safetensors
*.pth
*.pt
*.bin
*.onnx
nohup*
tmp_examples*
new_checkpoint*
batch_test*
*.md
!README.md
LICENSE.txt
tests
Makefile
pyproject.toml
requirements.txt
requirements_s2v.txt
requirements_animate.txt
wan
generate.py
INSTALL.md
